.banner {
    height: 400px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 40px;
}

.banner__content {
    max-width: 300px;
}

.banner__buttons {
    margin: 20px 0;
}

.banner__button {
    margin-right: 20px;
    padding: 3px 10px;
}
